:root {
  --orange: #cf8f2e;
  --white: #c7c6c6;
  --darkgray: #888888;
  --grey: #ccc;
  --beige: #ac9980;
  --yellow: #dad735;
  --green: ##a0db41;
  --brown: #966909;
  --black: #000000;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
}
